@page
@model RRHH.Pages.applicantTest.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3 style="color:white">Are you sure you want to delete this?</h3>
<div>
    <h4 style="color:white">applicant1</h4>
    <hr />
    <dl style="color:white; font-size:15px" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.applicant1.FNameOnly)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applicant1.FNameOnly)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.applicant1.jobInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applicant1.jobInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.applicant1.whyMe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applicant1.whyMe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.applicant1.storyVideo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applicant1.storyVideo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.applicant1.posterID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.applicant1.posterID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="applicant1.applicantID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
